<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="estorrent" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="estorrent" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="estorrent" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="estorrent" eui-index="'tpb'" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="SearchCtl">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <div class="panel panel-danger" ng-cloak>
                <div class="panel-heading">
                    <h3 class="panel-title">Torrent search:</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="queryInput" class="col-sm-2 control-label">Title</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control input-sm" id="queryInput"
                                       placeholder="Big Buck Bunny" ng-model="query">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="useInfo"> Look in torrent info too.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default" ng-click="searchClick()">Search</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="panel panel-warning" ng-cloak ng-show="categories.length >0">
                <div class="panel-heading">
                    <h3 class="panel-title">Categories:</h3>
                </div>
                <div class="panel-body">
                    <div ng-repeat="cat in categories | orderBy: 'key'">
                        <p class="text-justify">
                            <button class="btn btn-warning wide_button" ng-class="{'active': cat.active}"
                                    ng-click="categoryClick(cat)">{{cat.key}}&nbsp;<span
                                    class="badge">{{cat.doc_count}}</span></button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-warning" ng-cloak ng-show="SubCategories.length >0 && filterCategories.length >0">
                <div class="panel-heading">
                    <h3 class="panel-title">Sub categories:</h3>
                </div>
                <div class="panel-body">
                    <div ng-repeat="cat in SubCategories | orderBy: 'key'">
                        <p class="text-justify">
                            <button class="btn btn-success wide_button" ng-class="{'active': cat.active}"
                                    ng-click="subCategoryClick(cat)">{{cat.key}}&nbsp;<span
                                    class="badge">{{cat.doc_count}}</span></button>
                        </p>
                    </div>
                </div>
            </div>
            <!-- ACTION: change to field to use as facet -->
        </div>
        <div class="col-md-10 col-md-offset-2">
            <h1>Results</h1>

            <div class="panel panel-info" ng-repeat="doc in searchResults">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="{{doc._source.Magnet}}">{{doc._source.Title}}</a>
                        <a href="{{doc._source.Magnet}}"><img class="magnet_icon"
                                                              src="assets/dist/img/magnet_link.png"></a>
                    </h3>
                </div>
                <div class="panel-body">
                    <p class="text-center"><span
                            class="badge">#{{doc._source.Id}}</span>&nbsp;<b>{{doc._source.Title}}</b>
                    </p>
                    <dl class="dl-horizontal">
                        <dt>Size</dt>
                        <dd>{{doc._source.Size}}</dd>
                        <dt>Files</dt>
                        <dd>{{doc._source.Files}}</dd>
                        <dt>Hash</dt>
                        <dd>{{doc._source.Hash}}</dd>
                    </dl>
                    <div class="well" ng-bind-html="doc._source.Info"></div>
                    <p class="text-right">
                        <small>Uploaded at {{doc._source.Uploaded}} by {{doc._source.By}}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/elasticsearch/elasticsearch.angular.js"></script>
<script src="bower_components/elastic.js/dist/elastic.min.js"></script>
<script src="app.js"></script>
<script src="components/search/search.js"></script>
</body>
</html>
